extends base/layout

block main
  .mdl-layout.mdl-js-layout
    header.mdl-layout__header
      .mdl-layout-icon
      .mdl-layout__header-row
        span.mdl-layout__title Fake Artist
        .mdl-layout-spacer
        nav.mdl-navigation
          a#signup.mdl-navigation__link(href='/signup') Sign Up
          a#login.mdl-navigation__link(href='/login') Login
    .mdl-layout__drawer
      span.mdl-layout__title Fake Artist
      nav.mdl-navigation
        a.mdl-navigation__link(href='/signup') Sign Up
        a.mdl-navigation__link(href='/login') Login
    main.mdl-layout__content
      .mdl-grid
        .mdl-cell.mdl-cell--5-col
        .mdl-card.mdl-shadow--2dp.mdl-cell--2-col
          #signupBox.mdl-card__title
            h2.mdl-card__title-text Login
          div
            form.mdl-card__supporting-text(action='#', method='POST')
              .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                input#email.mdl-textfield__input(type='text', name='email', pattern='[A-Za-z0-9._-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}')
                label.mdl-textfield__label Email
              .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                input#password.mdl-textfield__input(type='password', name='password')
                label.mdl-textfield__label Password
              .mdl-card__actions.mdl-card--border
                button.mdl-button.mdl-button--accent.mdl-button--raised.mdl-js-button.mdl-js-ripple-effect(type='submit')
                  | Login
        .mdl-cell.mdl-cell--5-col